#bottom{
    background-color: #d3d3d3 ;
    height: 1000px;
}

#conteudo{
    width: 100%;
    height: 900px;
    background-color:#87CEFA;
    position: relative;
    top: 10px;
    border: solid 2px #000;
    border-radius: 10px;
}
/* abertura do titulo bem vindo ao farmaty da pagina index*/
#margem1{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;

}

#margem2{

    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    position: relative;
    top: 20px;
}




#bem-vindo{
    text-align: center;
    color: #fff;


}
/*fechamento da estilização do titulo bem vindo ao farmaty*/


#section1{
    height: 670px;
    background-color: #fff;
    width: 98%;
    position: relative;
    top: 10px;
    border-radius: 10px


}



#section3{
    display: flex;

}
#section2{
    height: 200px;
    width: 100%;
    background-color: #d3d3d3;
    position: relative;
    top: 7px;
    border-radius: 10px;

}
#calculador{
    height:350px;
    width: 100%;
    background-color: #d3d3d3;
    position: relative;
    top: 15px;
    border-radius: 10px;

}

#dosagem{
    width: 50%;

}

#posologia{
    width: 50%;


}

#menssagem{
    height: 290px;
    width: 50%;
    background-color: #bdbebd;
    border: 1px solid #000;
    border-radius: 10px;

}
.linha{
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    height: 25px;
    background-color: #a9a9a9;
    box-shadow: 5px 10px;


}