#bottom{
    background-color: #87CEFA;
    height: 1000px;
}
#aspecto_borda {
    position: relative;
    top: 10px;
    border-radius: 10px;
    height: 950px;

}
#conteudo{
    width: 100%;
    height: 900px;
    background-color:#87CEFA;
    position: relative;
    top: 10px;
    border: solid 2px #000;
    border-radius: 10px;
}
/* abertura do titulo bem vindo ao farmaty da pagina index*/
#margem1{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;

}

#margem2{

    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    position: relative;
    top: 20px;
}




#bem-vindo{
    text-align: center;
    color: #fff;


}
/*fechamento da estilização do titulo bem vindo ao farmaty*/

#info{
    height: 50px;
    width: 100%;
    background-color: #87CEFA;
    position: relative;
    top: 7px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 5px 10px;
}

#info p{
     position: relative;
     top: 6px;
     font-size: 20px;

}

#section1{
    height: 670px;
    background-color: #E0FFFF;
    width: 98%;
    position: relative;
    top: 10px;
    border-radius: 10px


}



#section3{
    display: flex;

}
#section2{
    height: 200px;
    width: 100%;
    background-color: #87CEFA;
    position: relative;
    top: 23px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 5px 10px;

}
#calculador{
    height:350px;
    width: 100%;
    background-color: #87CEFA;
    position: relative;
    top: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 5px 10px;

}

#dosagem{
    width: 50%;

}

#posologia{
    width: 50%;


}

#menssagem{
    height: 290px;
    width: 55%;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 10px

}
.linha{
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    height: 25px;
    background-color: #87CEFA;
    box-shadow: 5px 10px;
    text-align: center;


}

input{
    border-radius: 10px;
}