{% extends "header.html" %}
{% block conteudo %}
<body>

    <div id="bottom">

        <div class="container bg-primary" id="aspecto_borda">

             <div class="container " id="conteudo_2">
                <div style="display: flex; background-color: #b3e5fc; padding: 40px; border-radius: 20px; box-shadow: 0 8px 16px rgba(0,0,0,0.2); max-width: 1000px; margin: auto;">
                      <div style="flex: 1; padding-right: 30px;">
                        <h2 style="font-size: 28px; color: #01579b; margin-bottom: 20px;">O que são os antibióticos?</h2>
                        <p style="font-size: 18px; color: #263238; line-height: 1.6;">
                          Antibióticos são medicamentos utilizados para eliminar ou inibir a multiplicação de bactérias,
                          sendo indicados no tratamento de infecções bacterianas. Essas infecções ocorrem quando há
                          invasão de bactérias patogênicas ou um desequilíbrio na população de bactérias que habitam
                          naturalmente o corpo humano. Muitos desses micro-organismos vivem em harmonia conosco, sem
                          causar danos. No entanto, quando certas bactérias se multiplicam excessivamente ou atingem
                          órgãos onde não deveriam estar, podem provocar doenças e comprometer a saúde.
                        </p>
                      </div>
                      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
                        <img src="static/img/conhecimentopr1.jpg" alt="Antibióticos em uma mão" style="max-width: 100%; border-radius: 12px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                      </div>
                    </div>

             </div>
        </div>
    </div>
</body>
{% endblock %}



