{% extends "header.html" %}
{% block conteudo %}
<div id="bottom">
    <div class="container" id="conteudo">
        <div class="container" id="margem1">
            <div class="class" id="margem2">

                <div class="container" id="bem-vindo"><h2>Olá Bem vindo</h2></div>

            </div>
        </div>
        <div class="container" id="section1">
            <div class="container" id="calculador">
                <section id="dosagem">
                    <h2>Calculo de Dosagem</h2>
                </section>
                <section id="posologia">
                    <h2>Posologia</h2>
                </section>
            </div>

        </div>

    </div>
</div>

{% endblock %}