{% extends "header.html" %}
{% block conteudo %}
<div id="bottom">
    <div class="container" id="conteudo">
        <div class="container" id="margem1">
            <div class="container" id="margem2">

                <div class="container" id="bem_vindo"><h2>Bem vindo ao Farmaty</h2></div>

            </div>

        </div>


        <div class="container" id="section1">
            <div class="container" id="section2">

                <div class="container" >
                        <h2>Informe a Categoria :</h2><br>
                        <form>
                            <input type="radio" id="antibiotico" name="fav_language" value="html">
                            <label for="antibiotico"><strong>Antibiotico</strong></label><br>
                            <input type="radio" id="psico" name="fav_language" value="html">
                            <label for="psico"><strong>Psicotropicos</strong></label><br>
                            <input type="radio" id="demais" name="fav_language" value="html">
                            <label for="demais"><strong>outros</strong></label><br>
                        </form>

                    </div>

            </div>

                <div class="container" id="calculador">

                    <div class="container" id="section3">
                        <section id="dosagem">
                            <h3>Calculo de Dosagem</h3><br>
                            <p><strong>Quantas mg/ml(miligrama por ml) vem no frasco?</strong></p>
                                <form action="{{url_for('criar') }}" method="post">
                                    <label for="mg"><strong>Quantas mg? :</strong></label>
                                    <input type="text" id="mg" name="mg"><br><br>
                                    <label for="ml"><strong>quantas ml? :</strong></label>
                                    <input type="text" id="ml" name="ml"><br><br>
                                    <label for="dose"><strong>quantas miligramas por dose? :</strong></label>
                                    <input type="text" id="dose" name="dose">
                                </form>
                        </section>
                        <section id="posologia">
                            <h3>Posologia</h3>
                            <div  id="menssagem">
                                <p></p>

                            </div>
                        </section>

                    </div>
                </div>



        </div>

    </div>
</div>

{% endblock %}