{% extends "index.html" %}
{% block conteudo %}
                <section id="posologia">

                            <h3>Posologia :</h3>

                            <div class="container bg-primary" id="menssagem"><br>
                                <div class="linha "><p> tomar__de__</p></div><br>
                                <div class="linha "></div>em__horas por__<br>
                                <div class="linha ">dias</div><br>
                                <div class="linha "></div><br>
                                <div class="linha "></div>


                            </div>
                </section>
{% endblock %}